body{font-family: 'Roboto', sans-serif;}
h1,h2,h3,h4,h5,h6{margin: 0;}
/* .main_header */
.main-header
.row-wrap-top{
    background: #f0f2f4;
    height: 42px;
    border-bottom: 1px solid #e1e1e1;
    display: flex;
    align-items: center;
}
.main-header
.row-wrap-top div{
    padding: 0 20px 0 20px;
}
.main-header
.row-wrap-top a{
    color: #444444;
    font-size: 15px;
}
.main-header
.row-wrap-top a:hover{
    text-decoration: none;
}
.main-header
.row-wrap-top
.phone-col a i,
.email-col a i{
    margin-right: 10px;
    font-size: 20px;
    position: relative;
    top: 3px;
}
.main-header
.row-wrap-top
.soc-col a i.fa-facebook{
    color: #4e86bc;
    font-size: 26px;
}
/***************/
.main-header
.row-wrap-bottom
.navbar
.navbar-nav{
    align-items: center;
}
.main-header
.row-wrap-bottom
.navbar
.navbar-nav a{
    transition: .5s;
    color: #444444;
    font-size: 15px;
    font-weight: bold;
}
.main-header
.row-wrap-bottom
.navbar
.navbar-nav a:hover{
    color: #bf2f29;
}
.main-header
.row-wrap-bottom
.navbar
.navbar-nav i.fa-circle{
    font-size: 5px;
    color: #444444;
    margin-left: 15px;
    margin-right: 15px;
}
.main-header
.row-wrap-bottom{
    padding: 40px 0 40px 0;
    background: #fff;
    display: flex;
    align-items: center;
}
.main-header
.row-wrap-bottom .btn{
    padding-left: 20px;
    padding-right: 20px;
    height: 34px;
    display: flex;
    align-items: center;
    background: #bf2f29;
    font-size: 15px;
    color: #ffffff;
}
/* /.main_header */

/* main-banner */
.main-banner{
    height: 590px;
    -webkit-background-size: cover;
    background-size: cover;
    background: url(../images/banner/banner-bg-1.jpg) no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.main-banner h1{
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-weight: bold;
    margin: 0;
}
.main-banner h2{
    text-align: center;
    font-size: 30px;
    color: #fff;
    margin: 20px 0 0;
}
.main-banner .btn{
    padding-left: 40px;
    padding-right: 40px;
    height: 70px;
    background: #eccc5d;
    margin-top: 40px;
    font-size: 24px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
}
/* /main-banner */

/* .about */
.about{
    padding: 100px 0 123px 0;
    background: #ffffff;
}
.about .about-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .about-title h2{
    font-weight: bold;
    font-size: 36px;
    color: #444444;
    text-align: center;
    margin-bottom: 10px;
}
.about .about-title h3{
    color: #444444;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
}
.about .about-title .line-png{
    margin-bottom: 45px;
}
.about .about-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about .about-col img{
    margin-bottom: 30px;
}
.about .about-col h2{
    font-size: 36px;
    color: #444444;
    text-align: center;
    font-weight: bold;
    margin-bottom: 17px;
}
.about .about-col p{
    text-align: center;
    color: #5b5b5b;
    font-size: 16px;
}
/* /.about */

/* .approch */
.approch{
    padding-top: 100px;
    padding-bottom: 130px;
    background: #f3f3f3;
}
.approch .approch-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.approch .approch-title h2{
    font-weight: bold;
    font-size: 36px;
    color: #444444;
    text-align: center;
    margin-bottom: 10px;
}
.approch .approch-title h3{
    color: #444444;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
}
.approch .approch-title .line-png{
    margin-bottom: 45px;
}
.approch .approch-post{
    margin-bottom: 40px;
    background: #ffffff;
    box-shadow: 0px 0px 4px 0px #c5c5c5;
}

.approch .approch-post .col-img{
    padding: 0;
    position: relative;
}
.approch-post-title{
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.approch-post-title h2{
    font-size: 18px;
    color: #444444;
    margin-bottom: 15px;
}
.approch-post-title p{
    color: #5c5c5c;
    font-size: 16px;
}
.approch .approch-post .col-img img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
/* /.approch */

/* .work*/
.work{
    padding-top: 100px;
    padding-bottom: 130px;
    background: #bf2f29;
}
.work .work-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.work .work-title h2{
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
.work .work-title h3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
}
.work .work-title .line-png{
    margin-bottom: 45px;
}
.work .col-img{
    padding: 0;
    overflow: hidden;
    max-height: 250px;
}
.work .col-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.work .col-name{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #d55f59;
    color: #ffffff;

}
.work .col-name h2{
    font-size: 26px;
    color: #ffffff;
    text-align: center;
}
.work .col-name h3{
    font-size: 16px;
    color: #ffffff;
}
.work .col-name i{
    font-size: 27px;
    margin-bottom: 25px;
}
/* /.work*/

/* .form */
.form{
    padding-top: 100px;
    padding-bottom: 130px;
    background: #4e86bc;
}
.form .form-title{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form .form-title h2{
    font-weight: bold;
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}
.form .form-title h3{
    color: #ffffff;
    font-size: 20px;
    text-align: center;
    margin-bottom: 18px;
}
.form .form-title .ellipse-png{
    margin-bottom: 45px;
}
.form
.form-content{
    background: #ffffff;
    padding-top: 50px;
    padding-bottom: 70px;
    opacity: 0;
    transition: .5s;
    position: relative;
}
.form
.form-content .x-png{
    position: absolute;
    right: -23px;
    top: -23px;
}
.form
.form-content
.form-content-title p{
    color: #828282;
    font-size: 15px;
    text-align: center;
}
.form .form-group{
    width: 100%;
}
.form form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form form .form-control{
    margin-bottom: 10px;
    height: 50px;
    width: 100%;
}
.form form .form-control:last-child{
    margin-bottom: 0px;
    margin-bottom: 40px;
}
.form-content .btn{
    width: 160px;
    height: 45px;
    background: #bf2f29;
    color: #ffffff;
}

/* /.form */

/* .main-footer*/
.main-footer{
    background: #2e2e2e;
}
.main-footer .get .container{
    padding-top: 100px;
    padding-bottom: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.main-footer .copy{
    height: 70px;
    background: #525252;
}
.main-footer .get h2{
    color: #ffffff;
    font-size: 29px;
    font-weight: bold;
    margin-bottom: 30px;
}
.main-footer .get .social{
    display: flex;
    margin-bottom: 35px;
}
.main-footer .get .social a{
    display: block;
    width: 50px;
    height: 50px;
    border: solid 2px #525252;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    transition: .5s;
}
.main-footer .get .social a i{
    color: #ffffff;
    font-size: 23px;
}
.main-footer .get .social a:last-child{
    margin-right: 20px;
}
.main-footer .get .social a:hover{
    border: solid 2px #bf2f29;
    text-decoration: none;
}
.main-footer .get h3{
    color: #cecece;
    font-size: 16px;
    margin-bottom: 35px;
}
.main-footer
.get form{

}
.main-footer
.get form input{

    min-width: 300px;
    height: 56px;
    background: #525252;
    border: none;
    padding-left: 20px;
    margin-bottom: 30px;
}
.main-footer
.get .btn{
    width: 155px;
    height: 55px;
    background: #2e2e2e;
    border: solid 2px #525252;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 17px;
}
.main-footer .copy{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #cecece;
    font-size: 14px;
}
/* /.main-footer*/